<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokéVerse.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F4E1B232B6F975C00896886</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCC276F2B6E07DC00563259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCC277F2B6E07DD00563259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FCC27892B6E07DD00563259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
